[submodule "sse.oficina.login"]
	path = sse.oficina.login
	url = https://github.com/Eduardogdfrt/sse.oficina.login
[submodule "Mfe-Login-"]
	path = Mfe-Login-
	url = https://github.com/Eduardogdfrt/Mfe-Login-
